@import '../config.scss';

.DesignSystem {
  display: grid;
  grid-gap: 16px;
  justify-content: start;

  section {
    display: grid;
    grid-gap: 16px;
    padding: 24px;

    &.darkFrame {
      background-color: $color-dark;
      color: $color-light;
    }

    &.lightFrame {
      background-color: $color-light;
      color: $color-dark;
    }
  }
}
