@import '../config.scss';

.block {
  cursor: pointer;
  border-left: 2px solid $color-light-alt;
  transition: border-color 200ms ease, background-color 200ms ease;

  &:hover:not(.block_inContext) {
    border-color: $color-dark-alt;
  }
}

.block_inContext {
  outline: none;
  border-left-color: $color-primary;
  background-color: $color-light-alt;
}