@import '../config.scss';

.Textbox {
  @include txt-body;
  background-color: transparent;
  height: 32px;
  padding: 4px 8px 0;
  border: none;
  border-bottom: 2px solid transparent;
  width: 100%;
  transition: box-shadow 300ms ease, border-color 200ms ease;
  &:focus:not(:read-only) {
    outline: none;
    border-color: $color-primary;
  }
  &:read-only {
    cursor: inherit;
  }
  &_dark {
    color: $color-light;
    border-bottom-color: $color-dark-alt;
    box-shadow: inset 0 28px 0 0 $color-dark-alt;
    &:hover:not(:read-only) {
      border-color: $color-light;
    }
    &:focus:not(:read-only) {
      box-shadow: inset 0 32px 0 0 $color-dark-alt;
    }
  }
  &_light {
    color: $color-dark;
    border-bottom-color: $color-light-alt;
    box-shadow: inset 0 28px 0 0 $color-light-alt;
    &:hover:not(:read-only) {
      border-color: $color-dark;
    }
    &:focus:not(:read-only) {
      box-shadow: inset 0 32px 0 0 $color-light-alt;
    }
  }
}

.Textbox_shy {
  background-color: transparent;
  box-shadow: none;
  border-color: transparent;
  &:focus:not(:read-only) {
    box-shadow: none;
  }
}