@import '../config.scss';

.entries {
  display: grid;
  padding: 32px 0;
  gap: 8px 4px;
}

.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(64px, 100px)) auto repeat(3, 56px);
  align-items: baseline;
}

.row_active {
  composes: row;
}

.field {
  padding: 8px;
}