$color-dark: #2C2B31;
$color-dark-alt: #42404F;
$color-light: #F2F0F0;
$color-light-alt: #E3DEE0;
$color-primary: #EE5485;
$color-secondary: #7562EC;

@mixin txt-header () {
  font-size: 46px;
  line-height: 56px;
  font-weight: 300;
  margin: 0;
}

@mixin txt-subheader () {
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
  margin: 0;
}

@mixin txt-title () {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}

@mixin txt-subtitle () {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}

@mixin txt-base () {
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

@mixin txt-body () {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}

@mixin txt-caption () {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}