@import './config.scss';

*, *::before, *::after {
  box-sizing: border-box;
}

*::selection {
  background-color: $color-dark;
  color: $color-light;
}

body {
  margin: 0;
  padding: 32px;
  font-family: 'Helvetica Neue', sans-serif;
  @include txt-body;
  color: $color-dark;
  background-color: $color-light;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p { margin: 0; }
h1, h2, h3, h4, h5, h6 { margin: 0; }