@import './config.scss';

.Textbox {
  @include txt-body;
  background-color: transparent;
  height: 32px;
  padding: 4px 8px 0;
  border: none;
  border-bottom: 2px solid $color-light-alt;
  width: 100%;
  box-shadow: inset 0 28px 0 0 $color-light-alt;
  transition: box-shadow 300ms ease, border-color 200ms ease;
  &:hover {
    border-color: $color-dark;
  }
  &:focus {
    box-shadow: inset 0 32px 0 0 $color-light-alt;
    border-color: $color-primary;
    outline: none;
  }
}